/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
	--Marineblue: hsl(213, 96%, 18%);
	--Purplishblue: hsl(243, 100%, 62%);
	--Pastelblue: hsl(228, 100%, 84%);
	--Lightblue: hsl(206, 94%, 87%);
	--Strawberryred: hsl(354, 84%, 57%);

	--Coolgray: hsl(231, 11%, 63%);
	--Lightgray: hsl(229, 24%, 87%);
	--Magnolia: hsl(217, 100%, 97%);
	--Alabaster: hsl(231, 100%, 99%);
	--White: hsl(0, 0%, 100%);

	--font-family: "Ubuntu", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
body {
	font-family: var(--font-family);
	background: var(--Magnolia);
	color: var(--Coolgray);
	line-height: 1.25;
	font-size: 16px;
	display: flex;
	justify-content: center;
	position: relative;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img:not(.icon) {
	width: 100%;
	display: block;
}

/* fonts for 1440 and above */
@media screen and (min-width: 1440px) {
}
/*  global classes */
.hide {
	display: none;
}
/* registration section */
.content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.nav {
	height: 100%;
	max-height: 172px;
	position: relative;
}
.btn-container {
	position: absolute;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 60%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-round {
	border: var(--White) solid 1px;
	background: transparent;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 0.5rem;
	transition: var(--transition);
	color: var(--White);
	margin: 0 0.5rem;
	font-weight: 700;
}
.btn-round:first-child {
	background: var(--Lightblue);
	border-color: var(--Lightblue);
	color: black;
}
.card {
	background: var(--White);
	margin: 0 1rem;
	padding: 2rem;
	border-radius: 12px;
	transform: translateY(-15%);
}
.card-title {
	color: var(--Marineblue);
	padding: 0.25rem 0;
}
.card-info {
	padding: 1rem 0;
	color: var(--Coolgray);
	font-weight: 300;
}

.name,
.email,
.phone {
	display: flex;
	flex-direction: column;
}
#name,
#email,
#phone {
	padding: 0.75rem;
}
#name::placeholder,
#email::placeholder,
#phone::placeholder {
	font-weight: 500;
	font-size: 15px;
	padding: 0.2rem;
}
.form-name,
.form-email,
.form-phone {
	margin-top: 1rem;
	margin-bottom: 0.2rem;
	color: var(--Marineblue);
}
/* .card-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
} */
.footer-container {
	background: var(--White);
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1rem;
}
.back-btn {
	border: none;
	background: transparent;
	padding: 0.25rem;
	color: var(--Coolgray);
	justify-self: flex-end;
	visibility: hidden;
	cursor: pointer;
}
.next-btn {
	border: none;
	background: var(--Marineblue);
	color: var(--White);
	padding: 0.75rem 1rem;
	border-radius: 6px;
	justify-self: flex-start;
	cursor: pointer;
}
/* plan section */
.plan-container {
	display: flex;
	flex-direction: column;
}
.plan {
	display: flex;
	align-items: center;
}
.plan-btn {
	border: 1px solid var(--Lightgray);
	background: transparent;
	border-radius: 8px;
	margin: 0.25rem 0;
	padding: 0.5rem;
}
.plan-img {
	margin-right: 1rem;
}
.plan-img img {
	width: auto;
}
.plan-text {
	width: 100%;
	text-align: start;
	font-size: 10px;
}
.plan-text h2,
p {
	padding: 2px 0;
	color: var(--Marineblue);
	font-weight: bold;
}
.plan-text p {
	font-size: 12px;
}
.plan-price {
	color: var(--Coolgray);
}
.switch-container {
	font-size: 14px;
	background: var(--Lightgray);
	border-radius: 4px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem 0;
	margin-top: 0.75rem;
	width: 100%;
}
.toggle-container {
	transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	height: 1.2rem;
	width: 2.5rem;
	border-radius: 4rem;
	background: var(--Marineblue);
	display: flex;
	justify-content: start;
	align-items: center;
	border: none;
}
.toggle-circle {
	transition: var(--transition);
	height: 0.8rem;
	width: 0.8rem;
	margin: 2px;
	border-radius: 50%;
	background: var(--White);
}
.move-circle {
	transform: translateX(180%);
}
/* add ons */
.add-on-container {
	display: flex;
	flex-direction: column;
}
.add-on {
	display: flex;
	align-items: center;
}
.add-on-btn {
	border: 1px solid var(--Lightgray);
	background: transparent;
	border-radius: 8px;
	margin: 0.35rem 0;
	padding: 0.5rem;
	transition: 0.1s all linear;
}
.add-on-btn:active {
	background-color: var(--Magnolia);
}
.add-on-checkbox {
	margin-right: 1rem;
}
.add-on-price p {
	color: var(--Purplishblue);
	font-weight: 400;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 12px;
}

input[type="checkbox"]:checked {
	accent-color: var(--Purplishblue);
}
/* add this to add-on-btn in js when checkbox in checked !!! */
.checked {
	background: var(--Magnolia);
	border-color: var(--Purplishblue);
}
/* finishing section */
.finish-container {
	display: flex;
	flex-direction: column;
}
.current-plan {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.underline {
	height: 1px;
	background: var(--Coolgray);
	margin: 1rem 0;
}
.current-stats {
	background: var(--Alabaster);
	border-radius: 8px;
	padding: 1.5rem;
}
.plan-info,
.plan-info a,
.plan-info p {
	color: var(--Coolgray);
}
.plan-info {
	color: var(--Marineblue);
	font-size: 14px;
}
.plan-info a {
	text-decoration: underline;
}
.plan-info p {
	margin: 0.5rem 0;
}
.bold {
	font-weight: bold;
}
.current-add-on-1,
.current-add-on-2,
.current-add-on-3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.final-price {
	color: var(--Marineblue);
	font-size: 14px;
}
.total-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}
.final-total-price {
	color: var(--Purplishblue);
}
.thank-you {
	text-align: center;
}
.thanks-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.thanks-img {
	max-width: 70px;
	max-height: 70px;
}
@media screen and (min-width: 1440px) {
}
